<div class="header">
	<div class="wrapper clearfix">
		<div class="header_title"><em>人民防空大数据平台管理中心</em><span>Platform management center</span></div>
		<div class="header_tools">
			<a class="item_rel" href="">关联数据库</a>
			<a class="item_norel" href="">非关联数据库</a>
		</div>
	</div>
</div>

<div class="sysbar">
	<div class="wrapper clearfix">
		<div class="sysbar_notice">
			<em>系统公告：2015年08月12日 天津发生特大爆炸事件，造成大量人员伤亡。我司需要进一步加强对于</em>
			<span>2015.08.12</span>
		</div>
		
		<div class="sysbar_account">
			<div class="sysbar_account_hd">
				<span class="item_profile"></span>
				<em>Administrator</em>
			</div>
		</div>
	</div>
</div>